<div class="container">
  <div class="col-md-12 ">
<h1>個人情報修正</h1>
<form action="/mypage/update/<%= @myinfo.id%>/" method="post">
 <%= hidden_field_tag :authenticity_token, form_authenticity_token %>     
名前 : <input type="text" name="myinfo_name" value="<%=@myinfo.name%>"><br />
 学歴 : <textarea name="myinfo_academic" rows="8" cols="80"><%=@myinfo.academic%></textarea><br />
 開発言語 : <input type="text" name="myinfo_itlanguage" value="<%=@myinfo.itlanguage%>"><br /> 
 資格 : <textarea name="myinfo_certificate" rows="4" cols="80"><%=@myinfo.certificate%></textarea><br />
   望む職務 : <input type="text" name="myinfo_wish" value="<%=@myinfo.wish%>"><br />
  <input type="submit" value="修正">
</form>
  </div>
</div>
